NODE_ENV="development"
PORT=4000
SALT_ROUND=12

ADMIN_EMAIL="your_admin_email"
ADMIN_PASSWORD="your_admin_password"

FRONTEND_URL="http://localhost:5173"

DATABASE_URL="postgresql://postgres:nayra2024@localhost:5432/authenticationsystemdb"

ACCESS_TOKEN_SECRET="oaijdasjdnasbdajhsbdasdnoasndhasbdjhasndjasndhas"
REFRESH_TOKEN_SECRET="oiuoiuriuwhejnjsndmakkjnbgaehaweaweaeojanodnasndnjdnwi"
ACCESS_TOKEN_EXPIRES="15m"
REFRESH_TOKEN_EXPIRES="7d"